td{
    width: 400px;
    height:330px;   
}

table{
    display: inline;
    float:right;
    margin-top:40px;
    margin-right:10px;
}

#text{
    width: 40%;
    display: inline;
    float: left;
    font-family: Urbanist;
    margin:15% 0;
}

#text h1{
    width: 100%;
    border: solid #E5E5CB;
    border-radius: 25px;
    text-align: center;
    color:#E5E5CB;
}

#text p{
    width: 100%;
    font-size: medium;
    text-align: justify;
    color:#E5E5CB;
    padding: 5px;

}

#top-left{
    border-top-left-radius: 25px;
    background-color:#D5CEA3;
}

#top-right{ 
    border-top-right-radius: 25px;
    background-color:#E5E5CB;

}

#bottom-left{
    border-bottom-left-radius: 25px;
    background-color:#E5E5CB;
}

#bottom-right{
    border-bottom-right-radius: 25px;
    background-color:#D5CEA3;
}

#top-left:hover{
    background-image: url(media/history.jpeg);
    background-size: cover;

}

#bottom-left:hover{
    background-image: url(media/landmarks.jpg);
    background-size: cover;

}

#top-right:hover{
    background-image: url(media/culture.jpg);
    background-size: cover;

}

#bottom-right:hover{
    background-image: url(media/travel.jpg);
    background-size: cover;
}

  

.cells:hover div{
    text-shadow: 5px 7px 5px #3C2A21;
    font-weight:500;
}


.cells div{
    font-family:Urbanist;
    font-size: 50px;
    margin-left: 10px;
    
}


img{
    margin-left:120px;
    margin-right:-20px;
    margin-bottom: -72px;
    
}



a{
    text-decoration: none;
    color: black;
}

hr{
    background-color: #D5CEA3;
    height: 5px;
    border: none;
}

h2 a{
    color: white;
}